In [4]:
print("Hello World")

Hello World

In [5]:
a='Niyati'
b='Vyas'
a+b

'NiyatiVyas'

In [6]:
a='Niyati '
b='Vyas'
a+b

'Niyati Vyas'

In [26]:
a = "Niyati"
print(f"{a} is a good person")

Niyati is a good person

In [7]:
a=4
b=2
a+b

6

In [8]:
a-b

2

In [9]:
a*b

8

In [10]:
a/b

2.0

In [28]:
a=5
b=9
print(a+b,a-b,a*b,a/b)

14 -4 45 0.5555555555555556

In [29]:
a=5
b=8
print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
-3
40
0.625

In [11]:
type(a)

int

In [12]:
a='niyati'
type(a)

str

In [13]:
b=8+8j
type(b)

complex

In [31]:
c=5.8

In [32]:
type(c)

float

In [30]:
a='jhgdhkgsdgkudgf'

In [15]:
len(a)

15

In [16]:
a='niyati'
a[0]

'n'

In [17]:
a[0:5]

'niyat'

In [18]:
a[0:5:2]

'nyt'

In [19]:
a[::-1]

'itayin'

In [22]:
5<6

True

In [23]:
5>6

False

In [24]:
a=5
b=5
a<b

False

In [25]:
a>b

False

In [11]:
a=str(input())
b=str(input())
if a[0]==b[0]:
    print('both first letters are same')
else:
    print('both first letters are not same')

hfvgtgh
niyuti
both first letters are not same

In [2]:
a=str(input())
b=str(input())
if len(a)==len(b):
    print('b is grater than a')
else:
    print("b is less than a")

jdglhjfvjkh
niyatu
b is less than a

In [1]:
a=5
b=6
if a > b:
    print('b is grater than a')
else:
    print("b is less than a")

b is less than a

In [3]:
b=int(input())
if(b>0):
    print('b is positive')
else:
    print('b is not positive')

5
b is positive

In [5]:
#nested if else condition
b=int(input("Enter the value of b:"))
if b <= 0:
    if b<0:
        print('b is negative')
    else:
        print('zero')
else:
    print('b is positive')

Enter the value of b:-5
b is negative

In [8]:
#multipal condition
b=int(input("Enter the value of b:"))
if b<0:
        print('b is negative')
elif b==0:        
        print('zero')
else:
    print('b is positive')

Enter the value of b:5
b is positive

In [8]:
b=int(input())
if b%2 == 0:
    print('b is even number')
else:
    print('b is odd number')

5
b is odd number

In [34]:
a=int(input())
b=int(input())
if(a>b):
    print('a is large')
else:
    print('b is small')

8
5
a is large

In [16]:
a=int(input())
b=int(input())
c=int(input())
if(a>b):
    print('a is larger than b')
elif (b>c):
    print('b is larger than c')
else:
    print("both are same")

5
2
5
a is larger than b

In [35]:
a +b

13

In [14]:
#PALINDROM WORD
a=str(input())
if a==a[::-1]:
    print('a is a palindrom word')
else:
    print('a is not a palindrom word')

eye
a is a palindrom

In [13]:
a = int(input("enter the value of a : "))
b = int(input("enter the value of b : "))
if a <= b:
    if a == b:
        print("both are same")
    else:
        print("a is less than b")
else:
    print("b is less than a")

enter the value of a : 698
enter the value of b : 2
b is less than a

In [14]:
a = int(input("enter the value of a : "))
b = int(input("enter the value of b : "))
if a < b:
    print("a is less than b")
elif a == b:
        print("both are same")
else:
        print("a is less than b")

enter the value of a : 5
enter the value of b : 5
both are same

In [11]:
marks= int(input("enter the value of a:"))
if marks < 40:
    print("a is fail")
elif marks < 50:
    print("a is pass")
elif marks <60:
    print("a is second class")
elif marks < 70:
    print("a is first class")
else:
    print("a is distiction")

enter the value of a:100
a is distiction

In [17]:
salary =float(input("enter the value"))
if salary <10000:
    print("discount is 20%",salary*0.20)
elif salary < 20000:
    print("discount is 10%",salary*0.10)
elif salary < 30000:
    print("discount is 5%",salary*0.5)
else:
    print("no discount")

enter the value6874
discount is 20% 1374.8000000000002

# list in []

In [19]:
l=[2,3,4,5,'niyati',5.6,4+4j,[4,5,6]]

In [4]:
l[-1][2]

6

In [7]:
s=[2,3,4,5,[4,5,7.8,[6,7],5.6],(4+4j),[4,5,6]]

In [9]:
s[::-1]

[[4, 5, 6], (4+4j), [4, 5, 7.8, [900, 7], 5.6], 5, 4, 3, 2]

In [18]:
s[4][3][0]=900

# tuple in ()
t = (4,2,6,'niyati','xyz',9,[3,7,2])

In [11]:
t=(4,2,6,'niyati','xyz',9,[3,7,2])

In [12]:
t[-1]

[3, 7, 2]

In [13]:
t[-1][2]=100

In [14]:
t

(4, 2, 6, 'niyati', 'xyz', 9, [3, 7, 100])

In [20]:
n=[3,4,5,6,'niyati',8.8,(5+5j),[5,85,[9,700,'x,y,z'],7,99]]

In [21]:
n[7][2][1]

700

# sets in []
s={6,3,7,6,'niyati',1,5}

In [2]:
s={6,3,7,6,'niyati',1,5}

In [5]:
s

{1, 3, 5, 6, 7, 'niyati'}

In [6]:
s ={5,78,6,(5,3,6),'vyas',[5,8,5]}

TypeError: unhashable type: 'list'

In [7]:
n={5,78,6,(5,3,6),'vyas',5}

In [8]:
n

{(5, 3, 6), 5, 6, 78, 'vyas'}

In [11]:
b=[5,78,6,{5,3,6},'vyas',5]

In [12]:
b

[5, 78, 6, {3, 5, 6}, 'vyas', 5]

# directory
dict1 = {1: 'niyati',2: 'vyas',3:'xyz','a':54,'p':73}

In [13]:
dict1 = {1: 'niyati',2: 'vyas',3:'xyz','a':54,'p':73}

In [20]:
dict1[3]

84

In [15]:
dict1['p']

73

In [16]:
dict1.keys()

dict_keys([1, 2, 3, 'a', 'p'])

In [21]:
dict1.values()

dict_values(['niyati', 'vyas', 84, 54, 73])

# json
dict2 = {1:"jalpa","B":"utkarsh",3:"meruf",4:"vivek","C":"nilansi",5:[3,5,6],6:{5,"j",56},7:{'j':"hj",1:"y",2:"x",3:[4,5]}}

In [ ]:
#javascript object notes

In [23]:
dict2 = {1:"jalpa","B":"utkarsh",3:"meruf",4:"vivek","C":"nilansi",5:[3,5,6],6:{5,"j",56},7:{'j':"hj",1:"y",2:"x",3:[4,5]}}

In [24]:
dict2[7][3][0]

4

In [38]:
dict9 = {1:'hbkjf',2:'jh',3:'mvhg',5:[5,'hf',5],4:(5,5,'jsg')}

In [41]:
dict9.values()

dict_values(['hbkjf', 'jh', 'mvhg', [5, 'hf', 5], (5, 5, 'jsg')])

In [25]:
y={
	"id": "0001",
	"type": "donut",
	"name": "Cake",
	"ppu": 0.55,
	"batters":
		{
			"batter":
				[
					{ "id": "1001", "type": "Regular" },
					{ "id": "1002", "type": "Chocolate" },
					{ "id": "1003", "type": "Blueberry" },
					{ "id": "1004", "type": "Devil's Food" }
				]
		},
	"topping":
		[
			{ "id": "5001", "type": "None" },
			{ "id": "5002", "type": "Glazed" },
			{ "id": "5005", "type": "Sugar" },
			{ "id": "5007", "type": "Powdered Sugar" },
			{ "id": "5006", "type": "Chocolate with Sprinkles" },
			{ "id": "5003", "type": "Chocolate" }]}

In [26]:
y["topping"][4]["type"]

'Chocolate with Sprinkles'

In [27]:
s= {	"id": "0001",
	"type": "donut",
	"name": "Cake",
	"image":
		{
			"url": "images/0001.jpg",
			"width": 200,
			"height": 200
		},
	"thumbnail":
		{
			"url": "images/thumbnails/0001.jpg",
			"width": 32,
			"height": 32
		}
}

In [2]:
x1={"widget": {
    "debug": "on",
    "window": {
        "title": "Sample Konfabulator Widget",
        "name": "main_window",
        "width": 500,
        "height": 500
    },
    "image": { 
        "src": "Images/Sun.png",
        "name": "sun1",
        "hOffset": 250,
        "vOffset": 250,
        "alignment": "center"
    },
    "text": {
        "data": "Click Here",
        "size": 36,
        "style": "bold",
        "name": "text1",
        "hOffset": 250,
        "vOffset": 100,
        "alignment": "center",
        "onMouseUp": "sun1.opacity = (sun1.opacity / 100) * 90;"
    }
}}

In [4]:
x1["widget"]["image"]["src"]

'Images/Sun.png'

In [28]:
s["image"]["height"]

200

In [6]:
l = [4,5,'niyati',7.45]

In [7]:
l

[4, 5, 'niyati', 7.45]

In [9]:
l = [4,5,'niyati',7.45]
if type(l[0]==int):
    print("element is integer")
elif type(l[-1]==float):
    print("it is a float")
else:
    print("this string")

element is integer

In [27]:
height = float(input("Enter the height in m: "))  
weight = float(input("Enter the weight in kg: "))  
BMI = weight / (height)**2  
print("Your Body Mass Index is",BMI)    
if BMI < 18:  
    print("the person is weak.")  
elif BMI < 24:  
    print("the person is healthy.")  
elif BMI < 30:  
    print("the person is weight.")  
else:
    print("the person is obse")

Enter the height in m: 1.77
Enter the weight in kg: 50
Your Body Mass Index is 15.959653994701394
the person is weak.

# for loop

In [1]:
l=['x','y',12,13]

In [2]:
l

['x', 'y', 12, 13]

In [3]:
for i in l:
    print(i)

x
y
12
13

In [4]:
range(i)

range(0, 13)

In [9]:
range(5)

range(0, 5)

In [10]:
range(0,10)

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [22]:
l1=[5,8,6,'niyati',58]
for i in l1[::-1]:
    print(i)

58
niyati
6
8
5

In [23]:
a='niyati'
for i in a[::-1]:
    print(i)

i
t
a
y
i
n

In [7]:
l=["jalpa","anushka","taksh","niyati","parvati"]
for x in l:
    if x == "taksh":
        break
    print(x)

jalpa
anushka

In [8]:
l=["jalpa","anushka","taksh","niyati","parvati"]
for x in l:
    if x == "taksh":
        continue
    print(x)

jalpa
anushka
niyati
parvati

In [5]:
l=["jalpa","anushka","taksh","niyati","parvati"]
for x in l:
    if x == "taksh":
        pass
    print(x)

jalpa
anushka
taksh
niyati
parvati

In [6]:
l=[4,5,8,'niyati','zyx','u']
for i in l:
    if i =='niyati':
        break
    print(i)

4
5
8

In [46]:
l=[2,7,6,9,5.5,2]
for x in l:
    if x%2 == 0:        
        print(x)

2
6
2

In [49]:
# This for understanding
l=[2,7,6,9,'niyati',5.5,2]
for x in l:
    if x%2 == 0:  
        if type(x) ==str:
            pass
        print(x)

2
6

TypeError: not all arguments converted during string formatting

In [24]:
l=[5,4,8,'niyatu','h',5.5,6+6j]
for i in l:
    if type(i) == int:
        print(i)

5
4
8

In [25]:
l=[5,4,8,'niyatu','h',[4,45,5]]
for i in l:
    if type(i) == str:
        print(i)

niyatu
h

In [38]:
l=[5,4,8,'niyatu','h',[4,45,5]]
for i in l:
    if type(i) == int:
        print(i)
for j in l[5]:
    if type(j) == int:
        print(j)

5
4
8
4
45
5

In [26]:
l1=input("Enter the list l1:")
l2=input("Enter the list l2:")
if len(l1) == len(l2):
    print("length of both list is same")
else:
    print("length of both list is not same")

Enter the list l1:
Enter the list l2:
length of both list is same

In [27]:
l1=input("Enter the list l1:")
l2=input("Enter the list l2:")
if type(l1) == type(l2):
    print("type of both list is same")
else:
    print("type of both list is not same")

Enter the list l1:
Enter the list l2:
type of both list is same

In [29]:
l1=input("Enter the list l1:")
l2=input("Enter the list l2:")
if l1[0] == l2[0]:
    print("first element of both list is same")
else:
    print("first element of both list is not same")

Enter the list l1:8,88,9,9,
Enter the list l2:8,55,68,5
first element of both list is same

In [34]:
num = int(input ("Enter the number for table: "))        
for i in range(1, 11):      
   print (num, 'x', i, '=', num * i)

Enter the number for table: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [5]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(0,i+1):
        print(" * ", end = " ")
    print('\n')

enter the value of n :5
 *

 *   *

 *   *   *

 *   *   *   *

 *   *   *   *   *

In [20]:
n = int(input("enter the value of n :"))
for i in range(n,0,-1):
    for j in range(0,i):
        print(" * ", end = " ")
    print('\n')

enter the value of n :5
 *   *   *   *   *

 *   *   *   *

 *   *   *

 *   *

 *

In [4]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(i,i+n):
        print(" * ", end = " ")
    print('\n')

enter the value of n :5
 *   *   *   *   *

 *   *   *   *   *

 *   *   *   *   *

 *   *   *   *   *

 *   *   *   *   *

In [3]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(1,i+1):
        print(j, end = " ")
    print('\n')

enter the value of n :6


1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [6]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(1,i+1):
        print(i, end = " ")
    print('\n')

enter the value of n :5


1

2 2

3 3 3

4 4 4 4

In [8]:
n = int(input("enter the value of n :"))
for i in range(1,n):
    for j in range(65,65+i):
        print(chr(j), end = " ")
    print('\n')

enter the value of n :5
A

A B

A B C

A B C D

In [7]:
n = int(input("enter the value of n :"))
for i in range(1,n):
    for j in range(97,97+i):
        print(chr(j), end = " ")
    print('\n')

enter the value of n :5
a

a b

a b c

a b c d

In [2]:
rows = int(input("enter number of rows: "))

ascii_value =65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end = " ")
    ascii_value = ascii_value+1
    print('\n')

enter number of rows: 5
A

B B

C C C

D D D D

E E E E E

In [11]:
rows = int(input("enter number of rows: "))

ascii_value =97

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end = " ")
    ascii_value = ascii_value+1
    print('\n')

enter number of rows: 5
a

b b

c c c

d d d d

e e e e e

In [10]:
# hollow squre
# alphabet
# prime no. / 1-100 found
# febonacii
# list

In [1]:
# prime no. 1-100
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

In [14]:
#check prime no.
num = int(input("Enter a number: "))

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

Enter a number: 547674
547674 is not a prime number
2 times 273837 is 547674

In [3]:
#fibonacci series
n = int(input("Enter length of Fibonacci series: "))
num1 = 0
num2 = 1
next_number = 0
count = 1
while(count <= n):
    print(next_number, end=" ")
    count += 1
    num1 = num2
    num2 = next_number
    next_number = num1 + num2
    t_number = num1 + num2

Enter length of Fibonacci series: 10
0 1 1 2 3 5 8 13 21 34

In [1]:
#hollow square
for raw in range(5):
    for col in range(5):
        if (raw in (0,4)):
            print("*",end=' ')
        elif (raw in (1,2,3,4)) and (col in (0,4)):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [4]:
for raw in range(5):
    for col in range(5):
        if (raw in (0,4)):
            print("*",end=' ')
        elif (raw in (1,2,3,4)) and (col in (0,4)):
            print("*",end=' ')
        else:
            print("n",end=' ')
    print()

* * * * *
* n n n *
* n n n *
* n n n *
* * * * *

In [2]:
#alphabet in hollow square
for raw in range(5):
    for col in range(5):
        if (raw in (0,4)):
            print("*",end=' ')
        elif (raw in (1,2,3,4)) and (col in (0,4)):
            print("*",end=' ')
        elif (raw in (0,2)) and (col in (0,2)):
            print("n",end=' ')  
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*   n   *
*       *
* * * * *

In [3]:
for r in range(7):
    for c in range(5):
        if r==0 and c in {1,2,3}:
            print('*', end=" ")
        elif r in {1,2,3,4,5,6} and c in {0,4}:
            print('*', end=" ")
        elif r == 3:
            print('*', end=" ")
        else:
            print(' ', end=" ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [5]:
for r in range(5):
    for c in range(5):
        if r in {0,1,2,3,4} and c ==0:
            print('*', end=" ")
        elif r == 1 and c == 1:
             print('*', end=" ")
        elif r == 2 and c == 2:
             print('*', end=" ") 
        elif r == 3 and c == 3:
             print('*', end=" ")
        elif r in {0,1,2,3,4} and c ==4:
            print('*', end=" ") 
        else:
            print(' ', end=" ")   
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [21]:
    num=1
    n=5
    for i in range(0,n):
        for j in range(0,i+1):
            print(num, end = " ")
            num=num+1
        print(" ")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
   
    for j in range(2*i+1):    
        print("*",end=" ")
    print('\n')

Enter number of rows required:5
        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

In [4]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
   
    for j in range(i+1):    
        print("*",end=" ")
    print('\n')

Enter number of rows required:5
        *

      * *

    * * *

  * * * *

* * * * *

In [21]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
   
    for j in range(i+1):    
        print("*",end="    ")
    print('\n')

Enter number of rows required:5
        *

      *    *

    *    *    *

  *    *    *    *

*    *    *    *    *

In [14]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(i-1-n):
        print("  ",end=" ")
   
    for j in range(i):    
        print("*",end="  ")
    print('\n')

Enter number of rows required:5


*

*  *

*  *  *

*  *  *  *

In [2]:
n= eval(input("Enter diamond's height: "))
for x in range(n):
    print(" "  * (n - x), "*" * (2*x + 1))
for x in range(n - 2, -1, -1):
    print(" "  * (n - x), "*" * (2*x + 1))

Enter diamond's height: 5
      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

In [3]:
d = int(input('Enter number of rows required:'))

for i in range(0,d):
    for j in range(0,d-i-1):
        print(" ",end='  ')
    for l in range(0,2*i+1):    
        print("*",end='  ')
    print()
for i in range(d-1,0,-1):
    for j in range(d,i,-1):    
        print(" ",end="  ")
    for l in range(2*i-1,0,-1): 
        print("*",end='  ')
    print()

Enter number of rows required:5
            *
         *  *  *
      *  *  *  *  *
   *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *
      *  *  *  *  *
         *  *  *
            *

In [ ]:
#even odd
#count all even odd numbers
#palindrom or not
#dublicate values check[2,5,5,9,7]==mean 2 value =5
#febonacci

In [11]:
#dublicate value
l= [1, 2, 3, 4, 2, 8,8,5, 3];        
for i in range(0, len(l)):    
    for j in range(i+1, len(l)):    
        if(l[i] == l[j]):    
            print(l[j]);

2
3
8

In [25]:
#even odd num count
list1 = [10, 21, 4, 45, 66, 93, 1]
even, odd = 0, 0
for num in list1:
    if num % 2 == 0:
        even += 1
    else:
        odd += 1
print("Even numbers in the list: ", even)
print("Odd numbers in the list: ", odd)

Even numbers in the list:  3
Odd numbers in the list:  4

In [18]:
#febonacci
n=0
m=1
print(n)
print(m)
for x in range(10):
    l = n + m
    print(l)
    n,m=m,l

0
1
1
2
3
5
8
13
21
34
55
89

In [19]:
#febonacci
n=int(input("Enter the number of terms: "))
a=0
b=1
if n<=0:
    print("The febonacci series is",a)
else:
    print(a,b,end=" ")
    for x in range(2,n):
        c=a+b
        print(c,end=" ")
        a=b
        b=c

Enter the number of terms: 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [20]:
#palindrom
word = input("Enter a word: ")
word = word.lower()
length_word = int(len(word))
for letter in range(len(word)):
    if word[-length_word] == word[-1]:
        print(word, "is a palindrome.")     
    else:
        print(word, "is not a palindrome.")

Enter a word: niyin
niyin is a palindrome.
niyin is a palindrome.
niyin is a palindrome.
niyin is a palindrome.
niyin is a palindrome.

In [42]:
l=[5,4,8,'niyatu','h',[4,45,[8,2,85,],57]]
for i in l:
    if type(i) == int:
        print(i)
for j in l[5]:
    if type(j) == int:
        print(j)
for k in l[5][2]:
    if type(k) == int:
        print(k)

5
4
8
4
45
57
8
2
85

# while loop

In [4]:
a = int(input())
while a<=6 :
    print(a)
    a =a +1 #counter

1
1
2
3
4
5
6

In [1]:
a = 1
while a<=10 :
    print(a)
    #a =a +1
    if a ==8 :
        break
    a =a+1

1
2
3
4
5
6
7
8

In [2]:
a=10
while a>0:
    print(a)
    a =a-1

10
9
8
7
6
5
4
3
2
1

In [3]:
a = int(input("Enter the number (-1 to quit):"))
while a > 0:
    a = int(input("Enter a number (-1 to quit blahblah):"))

Enter the number (-1 to quit):5
Enter a number (-1 to quit blahblah):0

In [4]:
a = input("Enter any string (Its correct):")
while a == str():
    a = input("Enter any string(Its not correct):")

Enter any string (Its correct):sjsuhf

In [6]:
#sum of all natural num
num = int(input("Enter the value of n:"))
sum =0
hold = num
if num<=0:
    print("Enter whole positive number!")
else:
    while num > 0:
        sum = sum +num
        num = num -1;
    print("Sum of",hold,"Natural numbers is:",sum)

Enter the value of n:10
Sum of 10 Natural numbers is: 55

In [3]:
couter = 0

while couter < 3:
    print("Inside loop")
    couter = couter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [8]:
n=5
i=0
while(i<=n):
    print(" " * (n-i)+"* "*i)
    i=i+1

    *
   * *
  * * *
 * * * *
* * * * *

# Functions

In [21]:
def test():
    print("Hello World")

In [22]:
test()

Hello World

In [9]:
# bolck One
BIKE = True
CAR = True

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

# Block Two
BIKE = True
CAR = False

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

#Block Three
BIKE = False
CAR = True

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

#Block Four
BIKE = False
CAR = False

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:False
You have CAR:False
You can travel 100 KMs:False

In [17]:
def travel_or_not(BIKE,CAR):
    TRAVEL_100_KM = BIKE or CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
travel_or_not(False,True)

travel_or_not(False, True)

travel_or_not(True,False)

travel_or_not(True,True)

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

In [20]:
#using for loop
def travel_or_not(BIKE,CAR):
    TRAVEL_100_KM = BIKE or CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
BIKE = [False, False, True, True]    
CAR = [False, True, False, True]

for bike, car in zip(BIKE, CAR):
    travel_or_not(bike,car)

You have BIKE:False
You have CAR:False
You can travel 100 KMs:False

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

In [1]:
def travel_or_not(BIKE,CAR):
    TRAVEL_100_KM = BIKE and CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
BIKE = [False, False, True, True]    
CAR = [False, True, False, True]

for bike, car in zip(BIKE, CAR):
    travel_or_not(bike,car)

You have BIKE:False
You have CAR:False
You can travel 100 KMs:False

You have BIKE:False
You have CAR:True
You can travel 100 KMs:False

You have BIKE:True
You have CAR:False
You can travel 100 KMs:False

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

In [29]:
def test():
    return "hello world"
test()

'hello world'

In [30]:
def test1(a,b):
    c = a%b
    return c
test1(3,4)

3

In [23]:
def test1(a,b):
    """this is the fuction for four arithmatic oparations"""
    return a+b,a-b,a*b,a/b
test1(3,4)

(7, -1, 12, 0.75)

# Default argument

In [8]:
def test(a=10,b):
    return a+b
test(30)

SyntaxError: non-default argument follows default argument (1921699660.py, line 1)

In [11]:
def test(a,b=10):
    return a,b
test(30)

(30, 10)

In [6]:
def travel_or_not(BIKE=True,CAR=False):
    TRAVEL_100_KM = BIKE or CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
travel_or_not()

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

In [19]:
def bmi(w,h):
    bmi = (w/(h*h))   
    
    """This funacton for bmi calculation"""
   
    if bmi < 18:  
        print("the person is weak.")  
    elif bmi < 24:  
        print("the person is healthy.")  
    elif bmi < 30:  
        print("the person is weight.")  
    else:
        print("the person is obse")  
    return bmi
h = float(input("Enter the height in m: "))  
w = float(input("Enter the weight in kg: "))  

    
bmi(w,h)

Enter the height in m: 5
Enter the weight in kg: 5
the person is weak.

0.2


# Argument (*)

In [21]:
#argument (This for understanding)
def test(*a,b):
    return a,b
test(5,65,9,9,5)

TypeError: test() missing 1 required keyword-only argument: 'b'

In [22]:
#For understanding
def test(*a,*b):
    return a,b
test(5,65,9,9,5)

SyntaxError: invalid syntax (1648318818.py, line 1)

In [23]:
def test(a,*b):
    return a,b
test(5,65,9,9,5)

(5, (65, 9, 9, 5))

In [24]:
def test(a,*b):
    return a,b
test([5,65,9,9,5],85,5,578,5)

([5, 65, 9, 9, 5], (85, 5, 578, 5))

In [26]:
#key word argument = give result in dictiory
def test(**a):
    return a
test(x='niyati',y="jalpa")

{'x': 'niyati', 'y': 'jalpa'}

In [1]:
def test(a=10,*b,**c):
    return a,b,c

test(5,54,5,x='niyati',y='vyas')

(5, (54, 5), {'x': 'niyati', 'y': 'vyas'})

In [45]:
def marks_in_subjects_of_semester(**kwargs):
    for subject,marks in kwargs.items():
        print(f"Score in {subject} = {marks}")
marks_in_subjects_of_semester(Digital_Image_Processsing =54, Microprocessing= 57, Signal_and_system=25)

Score in Digital_Image_Processsing = 54
Score in Microprocessing = 57
Score in Signal_and_system = 25

In [3]:
def test(a=10,*b,**c,d):
    return a,b,c,d

test(5,54,5,x='niyati',y='jhfsb',5454)

SyntaxError: invalid syntax (1867950716.py, line 1)

# Lambda Function

In [1]:
x = lambda a,b :a+b

In [2]:
x(4,5)

9

In [3]:
def test(a):
    return a%2 ==0

In [4]:
test(3)

False

In [5]:
x = lambda a:a%2 ==0

In [6]:
x(4)

True

In [9]:
x = lambda a,b :(a+b,a-b,a*b,a/b)

In [10]:
x(5,6)

(11, -1, 30, 0.8333333333333334)

In [11]:
BIKE=True
CAR=False

result = lambda BIKE, CAR: f"You can travel 100 KMs: {BIKE or CAR}\n"
print(f"\nresults:-\n{result(BIKE, CAR)}")

results:-
You can travel 100 KMs: True

In [13]:
result = lambda number, power: number**power
result(5,2)

25

In [35]:
l=['vyas','niyati','jalpa']
result = lambda l:l[0][0]
result(l)

'v'

In [24]:
l=['niyatu']
for i in l:
        print(i[0])

n

In [33]:
st=lambda str:str[0]
st("niyati")

'n'

# Map Function
#map(funct_name,iterable)

In [13]:
def test(a):
    return a%2 ==0
list(map(test,[5,3,8,4]))

[False, False, True, True]

In [44]:
list(map(str,['niyati','vyas']))

['niyati', 'vyas']

In [45]:
l=['vyas','niyati','jalpa']
result = lambda l:l[0][0]
result(l)
list(map(result,l))

['v', 'n', 'j']

In [46]:
def test(a):
    return a[0][0]

In [47]:
list(map(test,['niyati','vyas','jalpa']))

['n', 'v', 'j']

In [48]:
def test(a):
    return a*a
list(map(test,[5,3,8,4]))

[25, 9, 64, 16]

In [51]:
def inspect(a):
    if len(a)%2==0:
        return "Even"
    else:
        return a[0]
name= ['niyati','vyas','jalpa']    
list(map(inspect,name))

['Even', 'Even', 'j']

In [27]:
def fun():
    str = "niyati"
    x = 6
    return [str, x]
 
list = fun()
print(list)

['niyati', 6]

In [22]:
#Write a function called find_largest() which accepts multiple strings as argument and returns the length of the largest string
def find_largest(words):
    result=max(words,key=len)
    print("The word with the longest length is:", result,
          " and length is ", len(result))
 

a = ['Niyati','Jaani','Hardi','Jayminee']
find_largest(a)

The word with the longest length is: Jayminee  and length is  8

In [28]:
#area of circle
def cal_area(r):
    pi=3.147
    area= pi*r*r
    return area

radius=float(input("Enter Radius: "))
print("Area: ",cal_area(radius))

Enter Radius: 2
Area:  12.588

# Filter Function
(fun.name,iterable)

In [2]:
def test(x):
    return x%2==0
list(filter(test,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [3]:
list(map(lambda x:"EVEN" if len(x)%2==0 else x[0],['niyati','vyas','jalpa']))

['EVEN', 'EVEN', 'j']

In [4]:
x=input("Enter name:")
vowel=list(filter(lambda z:z in 'aeiou',x))
if len(vowel)==0:
    print("No vowel in name")
else:
    print("vowels are",vowel)

Enter name:niyati
vowels are ['i', 'a', 'i']

In [5]:
d= lambda *a,b:[i+b for i in a]
d(1,2,3,b=4)

[5, 6, 7]

In [12]:
def test(l):
    even=len(list(filter(lambda y:y%2==0,l)))
    print("count of even numbers are:",even)
    print("count of odd numbers are:",len(l)-even)
test([1,2,3,4,5,6,7,8,9])

count of even numbers are: 4
count of odd numbers are: 5

# Local and Global
value define inside the function its called local and define outside the function its called globle

In [14]:
##local
def test1():
    a=5
    return a
test1()

5

In [15]:
##globle
def test2(a):
    return a
a=5
test2(a)

5

In [2]:
a="I love python"
def test():
    a="I love"
    print(a)
    print(id(a))
test()
print(a)
print(id(a))

I love
1971313353520
I love python
1971312764080

In [3]:
##id referns to the memory location.

In [6]:
def test1(x):
    if type(x)==int:
        print(x)
    else:
        print("string")

test1([1,2,3])

string

# Try and Exception 
It gives error and also modify the exception function

In [1]:
try:
    a=5
    a/0
except:
    print("Error in your program")

Error in your program

In [16]:
try:
    a=5
    a/0
except Exception as e:
    print(e)

division by zero

In [6]:
int(input())

niyati

ValueError: invalid literal for int() with base 10: 'niyati'

In [14]:
try:
    int(input())
except Exception as e:
    print(e)

558

In [13]:
try:
    int(input())
except Exception as e:
    print(e)

hgfgh
invalid literal for int() with base 10: 'hgfgh'

In [12]:
try:
    f = open("text11.txt","r")
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'text11.txt'

In [48]:
try:
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    print(dict1)
except Exception as e:
    print(e)

10
{1: 'niyati', 2: 'jalpa', 'y': 10}

In [25]:
try:
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    print(dict1)
except Exception as e:
    print(e)

niyaty
invalid literal for int() with base 10: 'niyaty'

In [26]:
#bmi in try

In [4]:
try:
    weight = float(input("Enter your weight in kilograms: "))
    height = float(input("Enter your height in meters: "))
    bmi = weight / (height ** 2)
    print("Your BMI is:", bmi)
except:
    print("Enter a valid number.")

Enter your weight in kilograms: niyti
Enter a valid number.

In [5]:
try:
    weight = float(input("Enter your weight in kilograms: "))
    height = float(input("Enter your height in meters: "))
    bmi = weight / (height ** 2)
    print("Your BMI is:", bmi)
except Exception as e:
    print(e)

Enter your weight in kilograms: 5
Enter your height in meters: 0
float division by zero

In [6]:
try:
    def bmi (w,h):
        BMI = w / (h*h)
        print(BMI)
except:
    print('eroor in your code')
try:    
    w = float(input("Enter your weight in kilograms: "))
    h = float(input("Enter your height in meters: "))
    bmi(w,h)
except Exception as e:
    print(e)

Enter your weight in kilograms: 5
Enter your height in meters: 0
float division by zero

In [2]:
array1 = [1, 2, 3, 4, 5]
array2 = [4, 5, 6, 7, 8]

intersection = list(filter(lambda l: l in array1, array2))

print("Intersection of the two arrays:", intersection)

Intersection of the two arrays: [4, 5]

In [21]:
#check this one
list_of_tuples = [(1,'niyati'), (2,'vyas'), (3,'nyt')]

list_of_strings = list(map(lambda x: str(x[0]) + str(x[1]), list_of_tuples))

print(list_of_strings)

['1niyati', '2vyas', '3nyt']

In [37]:
# convert celecius to fahrenheit
def convert(c):
    F = (9/5)*c + 32
    return (F)

try:
    cel = float(input("Enter the temperature: "))
    Fah = convert(cel)
    print ("The temperature in Fahrenheit is ", Fah)
except Exception as e:
    print(e)

Enter the temperature: jhb
could not convert string to float: 'jhb'

In [35]:
try:
    def cel(c):
        fen = (c*(9/5))+32
        print(fen)
    c = float(input())    
except Exception as e:
    print(e)

50

In [39]:
def interger():
    """Function asks for an interger unless provided otherwise"""
    while True:
        
            try:
                x = int(input())
                break
            except ValueError as e:
                print("Enter the input again",e)

In [42]:
interger()

ngdh
Enter the input again invalid literal for int() with base 10: 'ngdh'
khjgd
Enter the input again invalid literal for int() with base 10: 'khjgd'
10

In [43]:
#raise exception

In [44]:
def test(a):
    if a == "sjs" :
        raise ZeroDivisionError("you have entered a nagtive value ",a)
    return a

In [45]:
test('sj')

'sj'

In [46]:
test('sjs')

ZeroDivisionError: ('you have entered a nagtive value ', 'sjs')

In [49]:
try:
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    print(dict1)
except Exception as e:
    print(e)

10
{1: 'niyati', 2: 'jalpa', 'y': 10}

In [56]:
#for understanding
dict1 = {1:'niyati',2:'jalpa'}
dict1['y']=int(input())
if type(dict1['y']) == int:
     raise ZeroDivisionError("you have entered a valid value ",dict1)

hkjhh

ValueError: invalid literal for int() with base 10: 'hkjhh'

In [57]:
dict1 = {1:'niyati',2:'jalpa'}
dict1['y']=int(input())
if type(dict1['y']) == int:
     raise ZeroDivisionError("you have entered a valid value ",dict1)

10

ZeroDivisionError: ('you have entered a valid value ', {1: 'niyati', 2: 'jalpa', 'y': 10})

In [61]:
def test():
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    if type(dict1['y']) == int:
        raise ZeroDivisionError("you have entered a valid value ")
    return dict1

In [64]:
test()

10

ZeroDivisionError: you have entered a valid value

In [65]:
try:
    d= {1:"niyati",2:20,3:"vyas"}
    d["key4"] = int(input())
    f = open("test2","r")

except ValueError as xyz :
    print(xyz)
except FileNotFoundError as e:
    print(e)
except Exception as ee:
    print(ee)

jhjkfh
invalid literal for int() with base 10: 'jhjkfh'

# Logging(logbook)
Debug, Info, Warning, Error, Critical

In [5]:
import logging

In [6]:
logging.basicConfig(filename = "test103.log",level = logging.DEBUG,format ='%(asctime)s %(levelname)s %(message)s')

In [10]:
logging.info('this is my info log')
logging.warning('this is my warning log')
logging.debug('this is my debug log')
logging.error('this is my error log')

In [14]:
logging.shutdown()

In [10]:
import logging

In [11]:
logging.basicConfig(filename = "test101.log",level = logging.INFO)

In [4]:
logging.info('this is my info log')
logging.warning('this is my warning log')
logging.error('this is my error log')

In [4]:
logging.shutdown()

In [6]:
#eg of logging

In [4]:
import logging
def divbyzero(a,b):
    logging.info("this is a start of my code and i am try to enter %s and %s",a,b)
    try:
        div = a/b
        logging.info("executed succ")
    except Exception as e :
            logging.error("Error has happend")
            logging.exception("Exception occured" + str(e))

In [6]:
divbyzero(4,0)

In [10]:
logging.shutdown()

In [7]:
import logging
try:
    def bmi (w,h):
        BMI = w / (h*h)
        print(BMI)
    logging.info("this is a start of my code and i am try to enter %s and %s",a,b)       
except:
    print('eroor in your code')
try:    
    w = float(input("Enter your weight in kilograms: "))
    h = float(input("Enter your height in meters: "))
    bmi(w,h)
    logging.info("executed succ")
except Exception as e:
    print(e)

eroor in your code
Enter your weight in kilograms: 50
Enter your height in meters: 0
float division by zero

In [9]:
import logging
logging.basicConfig(level=logging.DEBUG,format='%(asctime)s - %(levelname)s - %(massage)s')

def perform_opration(value) :
    if value < 0:
        raise ValueError("Invalid value: Value cannot be negative.")
    else   :
        #continue with normal excution
        logging.info("Oprtaion performed successfully.")
        
try:
    input_value = int(input("Enter a value:"))
    perform_opration(input_value)
except ValueError as ve:
    logging.exception("Exception occurred: %s",str(ve))

Enter a value:-3

In [1]:
#2023 calendar monthwise
#in html calender
#write a program system shuttdown
#date with time print
#5 days date time print ---> +5, -5
#convert into uper-lower case
#file rename

In [2]:
#calendar
import  logging
logging.basicConfig(filename = "test102.log",level = logging.DEBUG,format ='%(asctime)s %(levelname)s %(message)s')
yy = 2023
print(calendar.calendar(yy))

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [3]:
import logging
now = datetime.datetime.now()
logging.basicConfig(filename = "test102.log",level = logging.DEBUG,format ='%(asctime)s %(levelname)s %(message)s')

print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2023-08-06 18:46:41

In [4]:
logging.shutdown()

In [5]:
import logging
logging.basicConfig(filename = "test102.log",level = logging.DEBUG,format ='%(asctime)s %(levelname)s %(message)s')

def UpToLow(u):
    return u.lower()

print("Enter the String: ", end="")
text = input()

text = UpToLow(text)
print("Lowercase:", text)

Enter the String: NIYTATYJX
Lowercase: niytatyjx

In [2]:
#html calendar
import calendar
tc= calendar.HTMLCalendar(firstweekday=0)
print(tc.formatmonth(2023,8))

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">August 2023</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="tue">1</td><td class="wed">2</td><td class="thu">3</td><td class="fri">4</td><td class="sat">5</td><td class="sun">6</td></tr>
<tr><td class="mon">7</td><td class="tue">8</td><td class="wed">9</td><td class="thu">10</td><td class="fri">11</td><td class="sat">12</td><td class="sun">13</td></tr>
<tr><td class="mon">14</td><td class="tue">15</td><td class="wed">16</td><td class="thu">17</td><td class="fri">18</td><td class="sat">19</td><td class="sun">20</td></tr>
<tr><td class="mon">21</td><td class="tue">22</td><td class="wed">23</td><td class="thu">24</td><td class="fri">25</td><td class="sat">26</td><td class="sun">27</td></tr>
<tr><td class="mon">28</td><td class="tue">29</td><td class="wed">30</td><td class="thu">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>