# Functions

In [21]:
def test():
    print("Hello World")

In [22]:
test()

Hello World

In [9]:
# bolck One
BIKE = True
CAR = True

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

# Block Two
BIKE = True
CAR = False

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

#Block Three
BIKE = False
CAR = True

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

#Block Four
BIKE = False
CAR = False

TRAVEL_100_KM = BIKE or CAR

print(f"You have BIKE:{BIKE}")
print(f"You have CAR:{CAR}")
print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:False
You have CAR:False
You can travel 100 KMs:False

In [17]:
def travel_or_not(BIKE,CAR):
    TRAVEL_100_KM = BIKE or CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
travel_or_not(False,True)

travel_or_not(False, True)

travel_or_not(True,False)

travel_or_not(True,True)

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

In [20]:
#using for loop
def travel_or_not(BIKE,CAR):
    TRAVEL_100_KM = BIKE or CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
BIKE = [False, False, True, True]    
CAR = [False, True, False, True]

for bike, car in zip(BIKE, CAR):
    travel_or_not(bike,car)

You have BIKE:False
You have CAR:False
You can travel 100 KMs:False

You have BIKE:False
You have CAR:True
You can travel 100 KMs:True

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

In [1]:
def travel_or_not(BIKE,CAR):
    TRAVEL_100_KM = BIKE and CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
BIKE = [False, False, True, True]    
CAR = [False, True, False, True]

for bike, car in zip(BIKE, CAR):
    travel_or_not(bike,car)

You have BIKE:False
You have CAR:False
You can travel 100 KMs:False

You have BIKE:False
You have CAR:True
You can travel 100 KMs:False

You have BIKE:True
You have CAR:False
You can travel 100 KMs:False

You have BIKE:True
You have CAR:True
You can travel 100 KMs:True

In [29]:
def test():
    return "hello world"
test()

'hello world'

In [30]:
def test1(a,b):
    c = a%b
    return c
test1(3,4)

3

In [23]:
def test1(a,b):
    """this is the fuction for four arithmatic oparations"""
    return a+b,a-b,a*b,a/b
test1(3,4)

(7, -1, 12, 0.75)

# Default argument

In [8]:
def test(a=10,b):
    return a+b
test(30)

SyntaxError: non-default argument follows default argument (1921699660.py, line 1)

In [11]:
def test(a,b=10):
    return a,b
test(30)

(30, 10)

In [6]:
def travel_or_not(BIKE=True,CAR=False):
    TRAVEL_100_KM = BIKE or CAR
    
    print(f"You have BIKE:{BIKE}")
    print(f"You have CAR:{CAR}")
    print(f"You can travel 100 KMs:{TRAVEL_100_KM}\n")
    
travel_or_not()

You have BIKE:True
You have CAR:False
You can travel 100 KMs:True

In [19]:
def bmi(w,h):
    bmi = (w/(h*h))   
    
    """This funacton for bmi calculation"""
   
    if bmi < 18:  
        print("the person is weak.")  
    elif bmi < 24:  
        print("the person is healthy.")  
    elif bmi < 30:  
        print("the person is weight.")  
    else:
        print("the person is obse")  
    return bmi
h = float(input("Enter the height in m: "))  
w = float(input("Enter the weight in kg: "))  

    
bmi(w,h)

Enter the height in m: 5
Enter the weight in kg: 5
the person is weak.

0.2


# Argument (*)

In [21]:
#argument (This for understanding)
def test(*a,b):
    return a,b
test(5,65,9,9,5)

TypeError: test() missing 1 required keyword-only argument: 'b'

In [22]:
#For understanding
def test(*a,*b):
    return a,b
test(5,65,9,9,5)

SyntaxError: invalid syntax (1648318818.py, line 1)

In [23]:
def test(a,*b):
    return a,b
test(5,65,9,9,5)

(5, (65, 9, 9, 5))

In [24]:
def test(a,*b):
    return a,b
test([5,65,9,9,5],85,5,578,5)

([5, 65, 9, 9, 5], (85, 5, 578, 5))

In [26]:
#key word argument = give result in dictiory
def test(**a):
    return a
test(x='niyati',y="jalpa")

{'x': 'niyati', 'y': 'jalpa'}

In [1]:
def test(a=10,*b,**c):
    return a,b,c

test(5,54,5,x='niyati',y='vyas')

(5, (54, 5), {'x': 'niyati', 'y': 'vyas'})

In [45]:
def marks_in_subjects_of_semester(**kwargs):
    for subject,marks in kwargs.items():
        print(f"Score in {subject} = {marks}")
marks_in_subjects_of_semester(Digital_Image_Processsing =54, Microprocessing= 57, Signal_and_system=25)

Score in Digital_Image_Processsing = 54
Score in Microprocessing = 57
Score in Signal_and_system = 25

In [3]:
def test(a=10,*b,**c,d):
    return a,b,c,d

test(5,54,5,x='niyati',y='jhfsb',5454)

SyntaxError: invalid syntax (1867950716.py, line 1)

# Lambda Function

In [1]:
x = lambda a,b :a+b

In [2]:
x(4,5)

9

In [3]:
def test(a):
    return a%2 ==0

In [4]:
test(3)

False

In [5]:
x = lambda a:a%2 ==0

In [6]:
x(4)

True

In [9]:
x = lambda a,b :(a+b,a-b,a*b,a/b)

In [10]:
x(5,6)

(11, -1, 30, 0.8333333333333334)

In [11]:
BIKE=True
CAR=False

result = lambda BIKE, CAR: f"You can travel 100 KMs: {BIKE or CAR}\n"
print(f"\nresults:-\n{result(BIKE, CAR)}")

results:-
You can travel 100 KMs: True

In [13]:
result = lambda number, power: number**power
result(5,2)

25

In [35]:
l=['vyas','niyati','jalpa']
result = lambda l:l[0][0]
result(l)

'v'

In [24]:
l=['niyatu']
for i in l:
        print(i[0])

n

In [33]:
st=lambda str:str[0]
st("niyati")

'n'

# Map Function
#map(funct_name,iterable)

In [13]:
def test(a):
    return a%2 ==0
list(map(test,[5,3,8,4]))

[False, False, True, True]

In [44]:
list(map(str,['niyati','vyas']))

['niyati', 'vyas']

In [45]:
l=['vyas','niyati','jalpa']
result = lambda l:l[0][0]
result(l)
list(map(result,l))

['v', 'n', 'j']

In [46]:
def test(a):
    return a[0][0]

In [47]:
list(map(test,['niyati','vyas','jalpa']))

['n', 'v', 'j']

In [48]:
def test(a):
    return a*a
list(map(test,[5,3,8,4]))

[25, 9, 64, 16]

In [51]:
def inspect(a):
    if len(a)%2==0:
        return "Even"
    else:
        return a[0]
name= ['niyati','vyas','jalpa']    
list(map(inspect,name))

['Even', 'Even', 'j']

In [27]:
def fun():
    str = "niyati"
    x = 6
    return [str, x]
 
list = fun()
print(list)

['niyati', 6]

In [22]:
#Write a function called find_largest() which accepts multiple strings as argument and returns the length of the largest string
def find_largest(words):
    result=max(words,key=len)
    print("The word with the longest length is:", result,
          " and length is ", len(result))
 

a = ['Niyati','Jaani','Hardi','Jayminee']
find_largest(a)

The word with the longest length is: Jayminee  and length is  8

In [28]:
#area of circle
def cal_area(r):
    pi=3.147
    area= pi*r*r
    return area

radius=float(input("Enter Radius: "))
print("Area: ",cal_area(radius))

Enter Radius: 2
Area:  12.588

# Filter Function
(fun.name,iterable)

In [2]:
def test(x):
    return x%2==0
list(filter(test,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [3]:
list(map(lambda x:"EVEN" if len(x)%2==0 else x[0],['niyati','vyas','jalpa']))

['EVEN', 'EVEN', 'j']

In [4]:
x=input("Enter name:")
vowel=list(filter(lambda z:z in 'aeiou',x))
if len(vowel)==0:
    print("No vowel in name")
else:
    print("vowels are",vowel)

Enter name:niyati
vowels are ['i', 'a', 'i']

In [5]:
d= lambda *a,b:[i+b for i in a]
d(1,2,3,b=4)

[5, 6, 7]

In [12]:
def test(l):
    even=len(list(filter(lambda y:y%2==0,l)))
    print("count of even numbers are:",even)
    print("count of odd numbers are:",len(l)-even)
test([1,2,3,4,5,6,7,8,9])

count of even numbers are: 4
count of odd numbers are: 5

# Local and Global
value define inside the function its called local and define outside the function its called globle

In [14]:
##local
def test1():
    a=5
    return a
test1()

5

In [15]:
##globle
def test2(a):
    return a
a=5
test2(a)

5

In [2]:
a="I love python"
def test():
    a="I love"
    print(a)
    print(id(a))
test()
print(a)
print(id(a))

I love
1971313353520
I love python
1971312764080

In [3]:
##id referns to the memory location.

In [6]:
def test1(x):
    if type(x)==int:
        print(x)
    else:
        print("string")

test1([1,2,3])

string

# Try and Exception 
It gives error and also modify the exception function

In [1]:
try:
    a=5
    a/0
except:
    print("Error in your program")

Error in your program

In [16]:
try:
    a=5
    a/0
except Exception as e:
    print(e)

division by zero

In [6]:
int(input())

niyati

ValueError: invalid literal for int() with base 10: 'niyati'

In [14]:
try:
    int(input())
except Exception as e:
    print(e)

558

In [13]:
try:
    int(input())
except Exception as e:
    print(e)

hgfgh
invalid literal for int() with base 10: 'hgfgh'

In [12]:
try:
    f = open("text11.txt","r")
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'text11.txt'

In [48]:
try:
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    print(dict1)
except Exception as e:
    print(e)

10
{1: 'niyati', 2: 'jalpa', 'y': 10}

In [25]:
try:
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    print(dict1)
except Exception as e:
    print(e)

niyaty
invalid literal for int() with base 10: 'niyaty'

In [26]:
#bmi in try

In [4]:
try:
    weight = float(input("Enter your weight in kilograms: "))
    height = float(input("Enter your height in meters: "))
    bmi = weight / (height ** 2)
    print("Your BMI is:", bmi)
except:
    print("Enter a valid number.")

Enter your weight in kilograms: niyti
Enter a valid number.

In [5]:
try:
    weight = float(input("Enter your weight in kilograms: "))
    height = float(input("Enter your height in meters: "))
    bmi = weight / (height ** 2)
    print("Your BMI is:", bmi)
except Exception as e:
    print(e)

Enter your weight in kilograms: 5
Enter your height in meters: 0
float division by zero

In [6]:
try:
    def bmi (w,h):
        BMI = w / (h*h)
        print(BMI)
except:
    print('eroor in your code')
try:    
    w = float(input("Enter your weight in kilograms: "))
    h = float(input("Enter your height in meters: "))
    bmi(w,h)
except Exception as e:
    print(e)

Enter your weight in kilograms: 5
Enter your height in meters: 0
float division by zero

In [2]:
array1 = [1, 2, 3, 4, 5]
array2 = [4, 5, 6, 7, 8]

intersection = list(filter(lambda l: l in array1, array2))

print("Intersection of the two arrays:", intersection)

Intersection of the two arrays: [4, 5]

In [21]:
#check this one
list_of_tuples = [(1,'niyati'), (2,'vyas'), (3,'nyt')]

list_of_strings = list(map(lambda x: str(x[0]) + str(x[1]), list_of_tuples))

print(list_of_strings)

['1niyati', '2vyas', '3nyt']

In [37]:
# convert celecius to fahrenheit
def convert(c):
    F = (9/5)*c + 32
    return (F)

try:
    cel = float(input("Enter the temperature: "))
    Fah = convert(cel)
    print ("The temperature in Fahrenheit is ", Fah)
except Exception as e:
    print(e)

Enter the temperature: jhb
could not convert string to float: 'jhb'

In [35]:
try:
    def cel(c):
        fen = (c*(9/5))+32
        print(fen)
    c = float(input())    
except Exception as e:
    print(e)

50

In [39]:
def interger():
    """Function asks for an interger unless provided otherwise"""
    while True:
        
            try:
                x = int(input())
                break
            except ValueError as e:
                print("Enter the input again",e)

In [42]:
interger()

ngdh
Enter the input again invalid literal for int() with base 10: 'ngdh'
khjgd
Enter the input again invalid literal for int() with base 10: 'khjgd'
10

In [43]:
#raise exception

In [44]:
def test(a):
    if a == "sjs" :
        raise ZeroDivisionError("you have entered a nagtive value ",a)
    return a

In [45]:
test('sj')

'sj'

In [46]:
test('sjs')

ZeroDivisionError: ('you have entered a nagtive value ', 'sjs')

In [49]:
try:
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    print(dict1)
except Exception as e:
    print(e)

10
{1: 'niyati', 2: 'jalpa', 'y': 10}

In [56]:
#for understanding
dict1 = {1:'niyati',2:'jalpa'}
dict1['y']=int(input())
if type(dict1['y']) == int:
     raise ZeroDivisionError("you have entered a valid value ",dict1)

hkjhh

ValueError: invalid literal for int() with base 10: 'hkjhh'

In [57]:
dict1 = {1:'niyati',2:'jalpa'}
dict1['y']=int(input())
if type(dict1['y']) == int:
     raise ZeroDivisionError("you have entered a valid value ",dict1)

10

ZeroDivisionError: ('you have entered a valid value ', {1: 'niyati', 2: 'jalpa', 'y': 10})

In [61]:
def test():
    dict1 = {1:'niyati',2:'jalpa'}
    dict1['y']=int(input())
    if type(dict1['y']) == int:
        raise ZeroDivisionError("you have entered a valid value ")
    return dict1

In [64]:
test()

10

ZeroDivisionError: you have entered a valid value

In [65]:
try:
    d= {1:"niyati",2:20,3:"vyas"}
    d["key4"] = int(input())
    f = open("test2","r")

except ValueError as xyz :
    print(xyz)
except FileNotFoundError as e:
    print(e)
except Exception as ee:
    print(ee)

jhjkfh
invalid literal for int() with base 10: 'jhjkfh'