# For Loop

In [1]:
l=['x','y',12,13]

In [2]:
l

['x', 'y', 12, 13]

In [3]:
for i in l:
    print(i)

x
y
12
13

In [4]:
range(i)

range(0, 13)

In [9]:
range(5)

range(0, 5)

In [10]:
range(0,10)

range(0, 10)

In [11]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [22]:
l1=[5,8,6,'niyati',58]
for i in l1[::-1]:
    print(i)

58
niyati
6
8
5

In [23]:
a='niyati'
for i in a[::-1]:
    print(i)

i
t
a
y
i
n

In [7]:
l=["jalpa","anushka","taksh","niyati","parvati"]
for x in l:
    if x == "taksh":
        break
    print(x)

jalpa
anushka

In [8]:
l=["jalpa","anushka","taksh","niyati","parvati"]
for x in l:
    if x == "taksh":
        continue
    print(x)

jalpa
anushka
niyati
parvati

In [5]:
l=["jalpa","anushka","taksh","niyati","parvati"]
for x in l:
    if x == "taksh":
        pass
    print(x)

jalpa
anushka
taksh
niyati
parvati

In [6]:
l=[4,5,8,'niyati','zyx','u']
for i in l:
    if i =='niyati':
        break
    print(i)

4
5
8

In [46]:
l=[2,7,6,9,5.5,2]
for x in l:
    if x%2 == 0:        
        print(x)

2
6
2

In [49]:
# This for understanding
l=[2,7,6,9,'niyati',5.5,2]
for x in l:
    if x%2 == 0:  
        if type(x) ==str:
            pass
        print(x)

2
6

TypeError: not all arguments converted during string formatting

In [24]:
l=[5,4,8,'niyatu','h',5.5,6+6j]
for i in l:
    if type(i) == int:
        print(i)

5
4
8

In [25]:
l=[5,4,8,'niyatu','h',[4,45,5]]
for i in l:
    if type(i) == str:
        print(i)

niyatu
h

In [38]:
l=[5,4,8,'niyatu','h',[4,45,5]]
for i in l:
    if type(i) == int:
        print(i)
for j in l[5]:
    if type(j) == int:
        print(j)

5
4
8
4
45
5

In [26]:
l1=input("Enter the list l1:")
l2=input("Enter the list l2:")
if len(l1) == len(l2):
    print("length of both list is same")
else:
    print("length of both list is not same")

Enter the list l1:
Enter the list l2:
length of both list is same

In [27]:
l1=input("Enter the list l1:")
l2=input("Enter the list l2:")
if type(l1) == type(l2):
    print("type of both list is same")
else:
    print("type of both list is not same")

Enter the list l1:
Enter the list l2:
type of both list is same

In [29]:
l1=input("Enter the list l1:")
l2=input("Enter the list l2:")
if l1[0] == l2[0]:
    print("first element of both list is same")
else:
    print("first element of both list is not same")

Enter the list l1:8,88,9,9,
Enter the list l2:8,55,68,5
first element of both list is same

In [34]:
num = int(input ("Enter the number for table: "))        
for i in range(1, 11):      
   print (num, 'x', i, '=', num * i)

Enter the number for table: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [5]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(0,i+1):
        print(" * ", end = " ")
    print('\n')

enter the value of n :5
 *

 *   *

 *   *   *

 *   *   *   *

 *   *   *   *   *

In [20]:
n = int(input("enter the value of n :"))
for i in range(n,0,-1):
    for j in range(0,i):
        print(" * ", end = " ")
    print('\n')

enter the value of n :5
 *   *   *   *   *

 *   *   *   *

 *   *   *

 *   *

 *

In [4]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(i,i+n):
        print(" * ", end = " ")
    print('\n')

enter the value of n :5
 *   *   *   *   *

 *   *   *   *   *

 *   *   *   *   *

 *   *   *   *   *

 *   *   *   *   *

In [3]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(1,i+1):
        print(j, end = " ")
    print('\n')

enter the value of n :6


1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [6]:
n = int(input("enter the value of n :"))
for i in range(n):
    for j in range(1,i+1):
        print(i, end = " ")
    print('\n')

enter the value of n :5


1

2 2

3 3 3

4 4 4 4

In [8]:
n = int(input("enter the value of n :"))
for i in range(1,n):
    for j in range(65,65+i):
        print(chr(j), end = " ")
    print('\n')

enter the value of n :5
A

A B

A B C

A B C D

In [7]:
n = int(input("enter the value of n :"))
for i in range(1,n):
    for j in range(97,97+i):
        print(chr(j), end = " ")
    print('\n')

enter the value of n :5
a

a b

a b c

a b c d

In [2]:
rows = int(input("enter number of rows: "))

ascii_value =65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end = " ")
    ascii_value = ascii_value+1
    print('\n')

enter number of rows: 5
A

B B

C C C

D D D D

E E E E E

In [11]:
rows = int(input("enter number of rows: "))

ascii_value =97

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end = " ")
    ascii_value = ascii_value+1
    print('\n')

enter number of rows: 5
a

b b

c c c

d d d d

e e e e e

In [10]:
# hollow squre
# alphabet
# prime no. / 1-100 found
# febonacii
# list

In [1]:
# prime no. 1-100
for Number in range (1, 101):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

In [14]:
#check prime no.
num = int(input("Enter a number: "))

if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

Enter a number: 547674
547674 is not a prime number
2 times 273837 is 547674

In [3]:
#fibonacci series
n = int(input("Enter length of Fibonacci series: "))
num1 = 0
num2 = 1
next_number = 0
count = 1
while(count <= n):
    print(next_number, end=" ")
    count += 1
    num1 = num2
    num2 = next_number
    next_number = num1 + num2
    t_number = num1 + num2

Enter length of Fibonacci series: 10
0 1 1 2 3 5 8 13 21 34

In [1]:
#hollow square
for raw in range(5):
    for col in range(5):
        if (raw in (0,4)):
            print("*",end=' ')
        elif (raw in (1,2,3,4)) and (col in (0,4)):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [4]:
for raw in range(5):
    for col in range(5):
        if (raw in (0,4)):
            print("*",end=' ')
        elif (raw in (1,2,3,4)) and (col in (0,4)):
            print("*",end=' ')
        else:
            print("n",end=' ')
    print()

* * * * *
* n n n *
* n n n *
* n n n *
* * * * *

In [2]:
#alphabet in hollow square
for raw in range(5):
    for col in range(5):
        if (raw in (0,4)):
            print("*",end=' ')
        elif (raw in (1,2,3,4)) and (col in (0,4)):
            print("*",end=' ')
        elif (raw in (0,2)) and (col in (0,2)):
            print("n",end=' ')  
        else:
            print(" ",end=' ')
    print()

* * * * *
*       *
*   n   *
*       *
* * * * *

In [3]:
for r in range(7):
    for c in range(5):
        if r==0 and c in {1,2,3}:
            print('*', end=" ")
        elif r in {1,2,3,4,5,6} and c in {0,4}:
            print('*', end=" ")
        elif r == 3:
            print('*', end=" ")
        else:
            print(' ', end=" ")
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [5]:
for r in range(5):
    for c in range(5):
        if r in {0,1,2,3,4} and c ==0:
            print('*', end=" ")
        elif r == 1 and c == 1:
             print('*', end=" ")
        elif r == 2 and c == 2:
             print('*', end=" ") 
        elif r == 3 and c == 3:
             print('*', end=" ")
        elif r in {0,1,2,3,4} and c ==4:
            print('*', end=" ") 
        else:
            print(' ', end=" ")   
    print()

*       *
* *     *
*   *   *
*     * *
*       *

In [21]:
    num=1
    n=5
    for i in range(0,n):
        for j in range(0,i+1):
            print(num, end = " ")
            num=num+1
        print(" ")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [3]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
   
    for j in range(2*i+1):    
        print("*",end=" ")
    print('\n')

Enter number of rows required:5
        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

In [4]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
   
    for j in range(i+1):    
        print("*",end=" ")
    print('\n')

Enter number of rows required:5
        *

      * *

    * * *

  * * * *

* * * * *

In [21]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(n-i-1):
        print(" ",end=" ")
   
    for j in range(i+1):    
        print("*",end="    ")
    print('\n')

Enter number of rows required:5
        *

      *    *

    *    *    *

  *    *    *    *

*    *    *    *    *

In [14]:
n = int(input('Enter number of rows required:'))

for i in range(n):
    for j in range(i-1-n):
        print("  ",end=" ")
   
    for j in range(i):    
        print("*",end="  ")
    print('\n')

Enter number of rows required:5


*

*  *

*  *  *

*  *  *  *

In [2]:
n= eval(input("Enter diamond's height: "))
for x in range(n):
    print(" "  * (n - x), "*" * (2*x + 1))
for x in range(n - 2, -1, -1):
    print(" "  * (n - x), "*" * (2*x + 1))

Enter diamond's height: 5
      *
     ***
    *****
   *******
  *********
   *******
    *****
     ***
      *

In [3]:
d = int(input('Enter number of rows required:'))

for i in range(0,d):
    for j in range(0,d-i-1):
        print(" ",end='  ')
    for l in range(0,2*i+1):    
        print("*",end='  ')
    print()
for i in range(d-1,0,-1):
    for j in range(d,i,-1):    
        print(" ",end="  ")
    for l in range(2*i-1,0,-1): 
        print("*",end='  ')
    print()

Enter number of rows required:5
            *
         *  *  *
      *  *  *  *  *
   *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *
      *  *  *  *  *
         *  *  *
            *

In [ ]:
#even odd
#count all even odd numbers
#palindrom or not
#dublicate values check[2,5,5,9,7]==mean 2 value =5
#febonacci

In [11]:
#dublicate value
l= [1, 2, 3, 4, 2, 8,8,5, 3];        
for i in range(0, len(l)):    
    for j in range(i+1, len(l)):    
        if(l[i] == l[j]):    
            print(l[j]);

2
3
8

In [25]:
#even odd num count
list1 = [10, 21, 4, 45, 66, 93, 1]
even, odd = 0, 0
for num in list1:
    if num % 2 == 0:
        even += 1
    else:
        odd += 1
print("Even numbers in the list: ", even)
print("Odd numbers in the list: ", odd)

Even numbers in the list:  3
Odd numbers in the list:  4

In [18]:
#febonacci
n=0
m=1
print(n)
print(m)
for x in range(10):
    l = n + m
    print(l)
    n,m=m,l

0
1
1
2
3
5
8
13
21
34
55
89

In [19]:
#febonacci
n=int(input("Enter the number of terms: "))
a=0
b=1
if n<=0:
    print("The febonacci series is",a)
else:
    print(a,b,end=" ")
    for x in range(2,n):
        c=a+b
        print(c,end=" ")
        a=b
        b=c

Enter the number of terms: 15
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [20]:
#palindrom
word = input("Enter a word: ")
word = word.lower()
length_word = int(len(word))
for letter in range(len(word)):
    if word[-length_word] == word[-1]:
        print(word, "is a palindrome.")     
    else:
        print(word, "is not a palindrome.")

Enter a word: niyin
niyin is a palindrome.
niyin is a palindrome.
niyin is a palindrome.
niyin is a palindrome.
niyin is a palindrome.

In [42]:
l=[5,4,8,'niyatu','h',[4,45,[8,2,85,],57]]
for i in l:
    if type(i) == int:
        print(i)
for j in l[5]:
    if type(j) == int:
        print(j)
for k in l[5][2]:
    if type(k) == int:
        print(k)

5
4
8
4
45
57
8
2
85

# while loop

In [4]:
a = int(input())
while a<=6 :
    print(a)
    a =a +1 #counter

1
1
2
3
4
5
6

In [1]:
a = 1
while a<=10 :
    print(a)
    #a =a +1
    if a ==8 :
        break
    a =a+1

1
2
3
4
5
6
7
8

In [2]:
a=10
while a>0:
    print(a)
    a =a-1

10
9
8
7
6
5
4
3
2
1

In [3]:
a = int(input("Enter the number (-1 to quit):"))
while a > 0:
    a = int(input("Enter a number (-1 to quit blahblah):"))

Enter the number (-1 to quit):5
Enter a number (-1 to quit blahblah):0

In [4]:
a = input("Enter any string (Its correct):")
while a == str():
    a = input("Enter any string(Its not correct):")

Enter any string (Its correct):sjsuhf

In [6]:
#sum of all natural num
num = int(input("Enter the value of n:"))
sum =0
hold = num
if num<=0:
    print("Enter whole positive number!")
else:
    while num > 0:
        sum = sum +num
        num = num -1;
    print("Sum of",hold,"Natural numbers is:",sum)

Enter the value of n:10
Sum of 10 Natural numbers is: 55

In [3]:
couter = 0

while couter < 3:
    print("Inside loop")
    couter = couter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

In [8]:
n=5
i=0
while(i<=n):
    print(" " * (n-i)+"* "*i)
    i=i+1

    *
   * *
  * * *
 * * * *
* * * * *